<div class="m-4">
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <div>
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div>
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" name="description" />
      </div>
      <div>
        <label for="slug" class="form-label">slug</label>
        <input type="text" class="form-control" name="slug" />
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>